# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage
/playwright-report
/test-results
/blob-report

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
.zed/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# lighthouse reports
/lighthouse

# generated localized i18n Build examples
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-block-dag-info.es.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-block-dag-info.fr.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-block-dag-info.zh-CN.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-block-dag-info.ru.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-block-dag-info.de.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-server-info.es.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-server-info.fr.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-server-info.zh-CN.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-server-info.ru.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/get-server-info.de.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-block-added.es.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-block-added.fr.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-block-added.zh-CN.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-block-added.ru.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-block-added.de.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-daa-changed.es.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-daa-changed.fr.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-daa-changed.zh-CN.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-daa-changed.ru.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/subscribe-daa-changed.de.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/utxo-context.es.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/utxo-context.fr.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/utxo-context.zh-CN.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/utxo-context.ru.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/utxo-context.de.html
/public/vendor/kaspa-wasm/2.0.0/examples/web/resources/utils.es.js
/public/vendor/kaspa-wasm/2.0.0/examples/web/resources/utils.fr.js
/public/vendor/kaspa-wasm/2.0.0/examples/web/resources/utils.zh-CN.js
/public/vendor/kaspa-wasm/2.0.0/examples/web/resources/utils.ru.js
/public/vendor/kaspa-wasm/2.0.0/examples/web/resources/utils.de.js
